[package]
name = "candid"
version = "0.5.3"
edition = "2018"
authors = ["DFINITY Team"]
description = "Candid is an interface description language (IDL) for interacting with canisters running on the Internet Computer."
homepage = "https://docs.rs/candid"
documentation = "https://docs.rs/candid"
repository = "https://github.com/dfinity/candid"
license = "Apache-2.0"
readme = "README.md"

categories = ["encoding", "parsing", "wasm"]
keywords = ["internet-computer", "idl", "candid", "dfinity", "parser"]
include = ["src", "Cargo.toml", "build.rs", "LICENSE", "README.md"]
build = "build.rs"

[build-dependencies]
lalrpop = "0.19.0"

[dependencies]
leb128 = "0.2.4"
serde = "1.0.115"
ic-types = { git = "ssh://git@github.com/dfinity-lab/agent-rust.git", branch = "candid" }
byteorder = "1.3.4"
paste = "1.0.0"
num_enum = "0.5.1"
num-bigint = "0.3.0"
num-traits = "0.2.12"
candid_derive = { path = "../candid_derive", version = "=0.4.0" }
lalrpop-util = "0.19.0"
logos = "0.11.4"
pretty = "0.10.0"
hex = "0.4.2"

[dev-dependencies]
goldenfile = "1.1.0"
test-generator = "0.3.0"
rand = "0.7.3"
