[package]
name = "candid"
version = "0.6.11"
edition = "2018"
authors = ["DFINITY Team"]
description = "Candid is an interface description language (IDL) for interacting with canisters running on the Internet Computer."
homepage = "https://docs.rs/candid"
documentation = "https://docs.rs/candid"
repository = "https://github.com/dfinity/candid"
license = "Apache-2.0"
readme = "README.md"

categories = ["encoding", "parsing", "wasm"]
keywords = ["internet-computer", "idl", "candid", "dfinity", "parser"]
include = ["src", "Cargo.toml", "build.rs", "LICENSE", "README.md"]
build = "build.rs"

[build-dependencies]
lalrpop = "0.19.0"

[dependencies]
byteorder = "1.3.4"
candid_derive = { path = "../candid_derive", version = "=0.4.2" }
codespan-reporting = "0.9.5"
hex = "0.4.2"
ic-types = "0.1.1"
lalrpop-util = "0.19.0"
leb128 = "0.2.4"
logos = "0.11.4"
num_enum = "0.5.1"
num-bigint = "0.3.0"
num-traits = "0.2.12"
paste = "1.0.0"
pretty = "0.10.0"
serde = "1.0.115"
thiserror = "1.0.20"

[dev-dependencies]
goldenfile = "1.1.0"
test-generator = "0.3.0"
rand = "0.7.3"

[features]
cdk = ["candid_derive/cdk"]
